.products {
    width: 100%;
    height: auto;
    //   margin-top: 10%;
}

.visible {
    opacity: 1;
    transition: opacity .5s linear;
}

.hidden {
    opacity: 0;
    transition: opacity .5s linear;
}